force-app/main/default/flows/CalculateOrderCost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>get_cost_of_this_item</name>
        <label>get cost of this item</label>
        <locationX>535</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>current_item_cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loopthroughitems.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>totalordercost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>totalordercost</name>
        <label>totalordercost</label>
        <locationX>397</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>TotalCostForOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>current_item_cost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopthroughitems</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CalculateOrderCost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalculateOrderCost</label>
    <loops>
        <name>Loopthroughitems</name>
        <label>Loopthroughitems</label>
        <locationX>344</locationX>
        <locationY>290</locationY>
        <collectionReference>Get_Order_Item_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_cost_of_this_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOrderCost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Item_Records</name>
        <label>Get Order Item Records</label>
        <locationX>341</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loopthroughitems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Soap_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SoapOrderItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOrderCost</name>
        <label>UpdateOrderCost</label>
        <locationX>125</locationX>
        <locationY>321</locationY>
        <inputAssignments>
            <field>Total_Cost__c</field>
            <value>
                <elementReference>TotalCostForOrder</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>510</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order_Item_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderReady__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Soap_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>current_item_cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderItemsTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderItemsTotal2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCostForOrder</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
