force-app/main/default/flows/Create_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>add_values</name>
        <label>add values</label>
        <locationX>471</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>OrderTotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>runningcost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>total_cost_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>running_total</name>
        <label>running total</label>
        <locationX>477</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>runningcost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>total_cost_loop.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_order_total_zero</name>
        <label>is order total zero</label>
        <locationX>187</locationX>
        <locationY>84</locationY>
        <defaultConnector>
            <targetReference>Just_use_total_order_cost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Total_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_order_items</targetReference>
            </connector>
            <label>Order Total is 0</label>
        </rules>
    </decisions>
    <interviewLabel>Create Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice</label>
    <loops>
        <name>total_cost_loop</name>
        <label>total cost loop</label>
        <locationX>293</locationX>
        <locationY>360</locationY>
        <collectionReference>get_order_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>running_total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>316</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>is_order_total_zero</targetReference>
        </connector>
        <inputAssignments>
            <field>Soap_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SoapInvoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_order_items</name>
        <label>get order items</label>
        <locationX>234</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>total_cost_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Soap_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SoapOrderItem__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Just_use_total_order_cost</name>
        <label>Just use total order cost</label>
        <locationX>71</locationX>
        <locationY>85</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Invoice</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Cost__c</field>
            <value>
                <elementReference>$Record.Total_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <object>SoapInvoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>88</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Soap_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Cost__c</field>
            <value>
                <elementReference>OrderTotalCost</elementReference>
            </value>
        </inputAssignments>
        <object>SoapInvoice__c</object>
    </recordUpdates>
    <start>
        <locationX>510</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Soap_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderTotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>runningcost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>total_cost_loop.Cost__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>totalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
