force-app/main/default/flows/Create_A_Color.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Not_a_dupe</name>
        <label>Not a dupe</label>
        <locationX>263</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Color</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_a_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_color_dupes.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecipeRecord</targetReference>
            </connector>
            <label>Not a duplicate</label>
        </rules>
    </decisions>
    <interviewLabel>Create A Color {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create A Color</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecipeRecord</name>
        <label>CreateRecipeRecord</label>
        <locationX>495</locationX>
        <locationY>305</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Color_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecipeDescription__c</field>
            <value>
                <elementReference>Color_Recipe2</elementReference>
            </value>
        </inputAssignments>
        <object>ColorRecipe__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_color_dupes</name>
        <label>Check for color dupes</label>
        <locationX>275</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_a_dupe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Color_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ColorRecipe__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Color_Recipe</name>
        <label>Color Recipe</label>
        <locationX>527</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_color_dupes</targetReference>
        </connector>
        <fields>
            <name>Color_Name</name>
            <dataType>String</dataType>
            <fieldText>Color Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Color_Recipe2</name>
            <fieldText>Color Recipe</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Color</name>
        <label>Duplicate Color</label>
        <locationX>118</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Duplicate_color_message</name>
            <fieldText>&lt;p&gt;This is a duplicate of an existing color name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>241</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Color_Recipe</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Color_Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>colorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the name of the color</description>
        <name>colorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
